<!DOCTYPE html>
<html>

<head>
    <style>
        input[type=file],
        input[type=submit] {
            background-color: #62529c;
            border: none;
            color: #fff;
            padding: 15px 30px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h2>Upload an image for text extraction</h2>
    <form action="/extract_text" method="post" enctype="multipart/form-data">
        <input type="file" value="Button" name="image">
        <input type="submit" value="Submit" value="Extract Text">
    </form>
</body>

</html>